body {
  background-color: #707070;
}

#title {
  font-family: Ubuntu, sans-serif;
  font-size: 40px;
  width: 100%;
  margin: 2% 5%;
  text-align: center;
  color: #FFF;
}

#login-div {
  font-size: 30px;
  width: 70%;
  margin-left: 15%;
  padding: 25px;
  background-color: #b2b2b2;
}

#logged-in-div {
  font-size: 30px;
  width: 70%;
  margin-left: 15%;
  padding: 25px;
  background-color: #b2b2b2;
}

#access-ui-div {
  font-size: 30px;
  width: 70%;
  margin-left: 15%;
  padding: 25px;
  background-color: #b2b2b2;
}

.buttons {
  font-family: Ubuntu, sans-serif;
  font-size: 30px;
  border-radius: 25px;
  width: 50%;
  margin-left: 25%;
}

.buttons:hover {
  background-color: #00d5124f;
  color: #FFF;
  opacity: 0.5;
}

#login-name {
  font-size: 30px;
}

#login-password {
  font-size: 30px;
}

#search-text {
  font-size: 30px;
}

#color-text {
  font-size: 30px;
}

input[type="text"],
input[type="password"] {
  font-family: Ubuntu, sans-serif;
  border-radius: 25px;
  text-align: center;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 2%;
}

#inner-title {
  font-family: Ubuntu, sans-serif;
  display: inline-block;
  font-size: 0.8em;
  width: 90%;
  text-align: center;
  margin-left: 5%;
  margin-bottom: 2%;
  color: #95060a;
}

#login-result {
  font-family: Ubuntu, sans-serif;
  display: inline-block;
  font-size: 0.8em;
  width: 90%;
  text-align: center;
  margin-left: 5%;
  margin-bottom: 2%;
  color: #95060a;
}

#user-name {
  display: inline-block;
  width: 80%;
  margin-left: 10%;
  text-align: center;
}

#logout-button {
  width: 20%;
  margin-left: 40%;
}

select {
  font-family: Ubuntu, sans-serif;
  width: 30%;
  margin-left: 35%;
  margin-top: 2%;
  font-size: 0.75em;
}

#color-search-result {
  display: none;
}

#color-add-result {
  font-family: Ubuntu, sans-serif;
  display: inline-block;
  font-size: 0.8em;
  width: 90%;
  text-align: center;
  margin-left: 5%;
  margin-top: 2%;
  margin-bottom: 1%;
  color: #95060a;
}